<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 

<extensions> 
<add assembly="NLog.Targets.ApplicationInsights" /> 
</extensions> 

<targets> 
<!-- Local log to file --> 
<target xsi:type="File" name="file" fileName="logs/logfile.log" 
layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" /> 

<!-- Application Insights target --> 
<target xsi:type="ApplicationInsights"
name="ai"
instrumentationKey="d514a72f-f0fc-476c-9cc0-a0456e712288"
layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />
</targets>

<rules>
<!-- Log everything from Info and up to file -->
<logger name="*" minlevel="Info" writeTo="file" />

<!-- Log Warning and up to Application Insights -->
<logger name="*" minlevel="Warn" writeTo="ai" />
</rules>
</nlog>